body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-black: #000;
  --color-maroon: #6b1515;
  --color-gainsboro: #d9d9d9;
  --color-white: #fff;
  --color-gray-100: #1f1f1f;

  /* Gaps */
  --gap-xl: 20px;
  --gap-lgi: 19px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-lgi: 19px;

  /* Border radiuses */
  --br-3xs: 10px;
}
.vecuatoi1 {
  position: relative;
  display: inline-block;
  min-width: 97px;
  white-space: nowrap;
  z-index: 1;
}
.namefilm {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
  margin-bottom: 12px;
}
.date,
.hour,
.screen,
.seat {
  position: relative;
  z-index: 1;
}
.date {
  align-self: stretch;
}
.hour,
.screen,
.seat {
  display: inline-block;
}
.hour {
  width: 134px;
  white-space: nowrap;
}
.screen,
.seat {
  width: 96px;
}
.seat {
  width: 100px;
}
.total {
  width: 341px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}

.statePayment {
  margin-top: 12px;
}

.vecuatoi {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}


.vecuatoi {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 282px;
  gap: 11px;
  line-height: normal;
  letter-spacing: normal;
}

/* Bảng mới */
.content_area {
  width: 1394px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.9);
  font-family: var(--font-inter);
  margin-top: 60px;
}

.ticket_content{
  background-color: #6b1515;
  border-radius: 20px;
}

.ticket_image {
  display: inline-block;
  height: 66px;
  width: 19px;
  position: relative;
  background-color: #af0000;
}


.ticket_title {
  display: inline-block;
  position: absolute;
  left: 52px;
  top: 50%;
  transform: translateY(-50%);
}

.my_ticket{
  font-weight: 700;
}

.picturefilm_icon {
  height: 290px;
  object-fit: contain;
}

.ticket_details {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.ticket_info {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  min-width: 300px;
}

.movie_details {
  font-size: 24px;
}

.namefilm_wrapper {
  font-size: 30px;
}

.date {
  width: 100%;
}

.hour {
  width: 100%;
}

.screen {
  width: 100%;
}

.seat {
  width: 100%;
}

.total {
  font-weight: 700;
}

.img_film {
  height: 100%;
}

.boxqrcode {
  width: 216px;
  height: 216px;
  background-color: var(--color-gainsboro);
  margin: auto;
}
.qr_code_container {
  max-width: 216px;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.countdownPayment {
  font-weight: 700; 
  margin-top: 12px;
}
header{
  font-family: 'Times New Roman', Times, serif;
}
header h3{
  margin: 0;
  padding: 0;
  font-size: 1.17em;
  font-weight: bold;
}