*{
  margin: 0;
  padding: 0;
}
.turnbackhome h1{
  position: absolute;
  top:0;
  left: 5px;
  color:rgb(202, 3, 3);
}
.home{
  border: 2px solid white;
  position: absolute;
  top: 36px;
  left: 6px;
  text-decoration: none;
  color:white;
}
.box{
  background-color: rgb(0, 0, 0,0.7);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  background-color: rgb(0, 0, 0,0.8);
  border-radius: 5px;
  padding-left: 60px;
  padding-right: 60px;
  width: 360px;
  height: 680px;
}
.dk{
  margin-top: 50px;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
#name{
  margin-top: 42px;
}
#birthday, #email, #phonenumber, #username,#password, #confirmpassword{
  margin-top: 18px;
}
input{
  font-size: 16px;
  color: white;
  background-color: rgb(51,51,51);
  border: none;
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 42px;
}
.registerbutton{
  font-size: 16px;
  margin-top: 30px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  display: block;
  color: white;
  background-color: rgb(232, 39, 39);
  width: 360px;
  height: 42px;
  transition: 0.3s;
}
.registerbutton:hover{
  background-color: #ca0a0a;
}
.turnback{
  margin-top: 50px;
  text-align: center;
}
.returnbacktologin{
  text-decoration: none;
  color: rgb(200, 200, 200);
}
.container{
  width: 100%;
  height: 742px;
  position: relative;
  background-image: url("../../images/logo/background.jpg");
  background-size: cover;
  background-position: center;
}