.payment_header > h3 {
    font-weight: 700;
}

.payment_item_container {
    display: flex;
    margin: 6px 0;
}

button {
    flex: 1;
    font-size: 20px;
}

.img_logo {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.payment_form,
.payment_logo {
    display: inline-block;
}

.payment_form {
    flex: 1;
    overflow: hidden;
    margin-left: 12px;
}

.payment_form > form {
    height: 100%;
}

.payment_form > form > button {
    display: block;
    height: 100%;
    float: right;
    border-style: none;
    border-radius: 16px;
    width: calc(100%);
    font-size: 20px;
}

.momo_qr,
.momo_atm {
    background-color: #af1a71;
    color: #fff;
}

.vnpay {
    background-color: #fff;
    color: #065eaa;
}